<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing Employee</h1>

  <%= render "form", employee: @employee %>

  <%= link_to "Show This Employee", @employee, class: "button show-button" %>
  <%= link_to "Back to Employees", employees_path, class: "button back-button primary" %>
</div>
