<div class="w-full">
  <%= render partial: "pages/notice", locals: { modal: false } %>

  <div class="flex justify-between items-center">
    <h1>Employees</h1>
    <%= link_to "New Employee", new_employee_path, class: "button add-button primary mb-3 normal-top-margin" %>
  </div>

  <div id="employees" class="min-w-full">
    <%= render @employees %>
  </div>
</div>
