<%= turbo_stream.replace 'notice' do %>
  <%= render partial: "pages/notice", locals: { modal: false } %>
<% end %>

<%= turbo_stream.replace "parts" do %>
  <div id="parts" class="min-w-full">
    <%= render partial: "part_table", locals: { parts: @parts } %>
  </div>
<% end %>