<div class="flex space-x-5">
    <p class="my-5">
      <strong class="block font-medium mb-1">Job:</strong>
      <%= @additional_part.job.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Additional Part:</strong>
      <%= @additional_part.part.label %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Quantity Received:</strong>
      <%= @mismatch %>
    </p>
</div>