<%= turbo_frame_tag "project_manager_select" do %>
  <div id="project_manager_ids", class="my-5">
    <%= label_tag object + '[project_manager_id]', 'Project Manager', class: 'label_class required' %>
    <%= select_tag object + '[project_manager_id]', options_for_select(user_list,params[:preset]),
      data: { dynamic_select_target: params[:target], 'turbo-type': params[:turbo_type], url: params[:url], object: object, 
              alt_url: params[:alt_url], alt_value: params[:alt_value], preset: params[:child_preset], filter: params[:filter],
              mode: params[:mode] } %>
  </div>
<% end %>