<div class="mx-auto md:w-2/3 w-full laptop-girl-bg">
  <h1>New User</h1>

  <%= render "form", user: @user %>

  <%= link_to "Back to Users", users_path, class: "button back-button primary" %>
</div>
