<%= modal(header_divider: false, footer_divider: false) do |m| %>
  <% m.title do %>
    <h1>Editing Customer</h1>
  <% end %>
  <div class="mx-auto md:w-2/3 w-full">
    <%= render "form", customer: @customer %>
  </div>
<% end %>
