<%= modal(header_divider: false, footer_divider: false) do |m| %>
  <% m.title do %>
    <h1>Editing <%= capital_assembly %></h1>
  <% end %>
  <div class="mx-auto md:w-2/3 w-full">
    <%= render "form", unit: @unit %>
  </div>
<% end %>
