<div class="mx-auto md:w-2/3 w-full">

  <h1>Editing Organization</h1>

  <%= render "form", organization: @organization %>
  
  <%= link_to "Show This Organization", @organization, class: "button show-button secondary" %>
</div>
